* {
    box-sizing: border-box;
}

/* html + body + divs */

html {
    height: 100%;
    font-size: min(21px, 3vw, 2.7vh);
    font-family: Nunito, sans-serif;
    background-color: var(--bg-color);
    color: var(--fg-color);

    --bg-color: #ffffff;
    --fg-color: #000000;
    --button-bg-color: #000000;
    --button-fg-color: #ffffff;
    --sub-color: #757575;
    
    --button-hover-bg-color: #4527a0;
    --input-focus-color: #673ab7;
    --button-focus-color: #7e57c2;
    --link-color: #4527a0;
    
    --correct-color: #13ac00;
    --correct-color-dark: #057a00;
    --fail-color: #d50000;
    --fail-color-dark: #9b0000;
    --short-color: #e65100;
}

html[theme="dark"] {
    --bg-color: #212121;
    --fg-color: #ffffff;
    --button-bg-color: #bdbdbd;
    --button-fg-color: #000000;
    --sub-color: #9e9e9e;
    
    --button-hover-bg-color: #b39ddb;
    --input-focus-color: #9575cd;
    --button-focus-color: #7e57c2;
    --link-color: #b39ddb;
    
    --correct-color: #64dd17;
    --correct-color-dark: #1faa00;
    --fail-color: #e40022;
    --fail-color-dark: #c4001d;
    --short-color: #f9a825;
}

body {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: clamp(10px, 10vh - 70px, 30px);
    padding-bottom: clamp(10px, 10vh - 70px, 30px);
}

#container {
    display: grid;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    min-height: 500px;
    margin: auto;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 3fr 1fr;
}

#header {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;

    color: white;
    background-image: url("ua.png");
    background-size: contain;
    text-shadow: 0 0 7px black;
}

#header:focus {
    outline: 0;
}

#start {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: repeat(7, auto) 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 3ex;
    padding-top: 3ex;
    padding-bottom: 3ex;
    box-sizing: border-box;
    align-items: center;
    position: relative;
    z-index: 0;
    align-self: start;
}

#game {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    display: none;
    width: 100%;
    height: 100%;
    grid-template-rows: 0.02fr repeat(3, auto) 0.02fr repeat(5, auto) 1fr;
    grid-template-columns: auto 1fr 25% 25%;
    grid-row-gap: 2ex;
    padding-top: 2ex;
    padding-bottom: 2ex;
    align-items: center;
    position: relative;
    z-index: -1;
    align-self: start;
    color: inherit;
}

#results {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    display: none;
    width: 100%;
    grid-template-rows: auto 15ex repeat(4, auto);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 3ex;
    padding-top: 3ex;
    padding-bottom: 3ex;
    align-items: center;
    position: relative;
    z-index: -2;
    align-self: start;
}

#fuck-war {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    display: none;
    width: 100%;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 3ex;
    padding-top: 3ex;
    padding-bottom: 3ex;
    align-items: center;
    position: relative;
    z-index: -3;
    align-self: start;
}

#footer {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    font-size: 1rem;
    color: var(--sub-color);
    align-self: center;
    margin-left: 5px;
}

#theme-button {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

/* links */

a, a:visited {
    color: var(--link-color);
}

a.bold {
    font-weight: bold;
}

/* text inputs + selects */

input[type=text], select {
    background: var(--bg-color);
    border: 3px solid var(--fg-color);
    border-radius: 5px;
}

input[type=text]:focus-visible, select:focus-visible {
    outline: 0;
    border-color: var(--input-focus-color);
}

input[type=text]:disabled, select:disabled {
    background: var(--bg-color);
    color: var(--sub-color);
}

#lg-username:disabled {
    border-color: var(--sub-color);
}

/* buttons */

input[type=button] {
    background: var(--button-bg-color);
    color: var(--button-fg-color);
    border: 3px solid var(--button-bg-color);
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

@media (hover: hover) {
    input[type=button]:enabled:hover {
        outline: 0;
        background: var(--button-hover-bg-color);
        border-color: var(--button-hover-bg-color);
    }
}

input[type=button]:focus-visible {
    outline: 0;
    border-color: var(--button-focus-color);
}

input[type=button]:disabled {
    background: var(--bg-color);
    color: var(--fg-color);
}

/* input+label classes */

.regular {
    font-family: inherit;
    color: inherit;
    font-size: 1rem;
    padding: 5px;
}

.regular-center {
    font-family: inherit;
    font-size: 1rem;
    padding: 5px;
    text-align: center;
}

.big {
    font-family: inherit;
    font-size: 7rem;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.round {
    font-family: inherit;
    font-size: 1.2rem;
    text-align: center;
    align-self: end;
}

.wide {
    font-family: inherit;
    color: var(--fg-color);
    font-size: 1rem;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.small {
    font-size: 1rem;
    color: var(--sub-color);
    padding: 5px;
    white-space: pre-wrap;
}

.small-center {
    font-size: 1rem;
    color: var(--sub-color);
    text-align: center;
    white-space: pre-wrap;
}

#start-feed {
    color: var(--fail-color);
}

.question {
    font-size: 1.5rem;
    text-align: center;
    line-height: 1;
}

/* grid placement classes */

.gr1 { grid-row: 1; }
.gr2 { grid-row: 2; }
.gr3 { grid-row: 3; }
.gr4 { grid-row: 4; }
.gr5 { grid-row: 5; }
.gr6 { grid-row: 6; }
.gr7 { grid-row: 7; }
.gr8 { grid-row: 8; }
.gr9 { grid-row: 9; }
.gr10 { grid-row: 10; }
.gr11 { grid-row: 11; }
.gr78 { grid-row: 7 / 9; }

.gc11 { grid-column: 1 / 2; }
.gc12 { grid-column: 1 / 3; }
.gc13 { grid-column: 1 / 4; }
.gc14 { grid-column: 1 / 5; }
.gc23 { grid-column: 2 / 4; }
.gc24 { grid-column: 2 / 5; }
.gc33 { grid-column: 3 / 4; }
.gc34 { grid-column: 3 / 5; }
.gc44 { grid-column: 4 / 5; }
